<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <arg name="x" default="0.0"/>
    <arg name="y" default="0.0"/>
    <arg name="z" default="0.0"/>
    <arg name="name" default="p3dx"/>
    <arg name="namespace_arg" default=""/>

    <arg name="robot_model" default="$(find p3dx_description)/urdf/pioneer3dx.xacro"/>
    <param name="robot_description" command="$(find xacro)/xacro '$(arg robot_model)'" />

    <node name="spawn_robot" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-urdf 
                -unpause
                -urdf
                -param /$(arg namespace_arg)/robot_description 
                -model $(arg name)
                -robot_namespace $(arg namespace_arg)
                -x $(arg x) 
                -y $(arg y) 
                -z $(arg z)" />

    <include file="$(find p3dx_control)/launch/control.launch">
            <arg name="name" value="$(arg namespace_arg)" />
            <arg name="x" value="$(arg x)" />
            <arg name="y" value="$(arg y)" />
            <arg name="namespace_arg" value="$(arg namespace_arg)" />
            <arg name="tfprefix" value="$(arg namespace_arg)_tf"/>
        </include>

</launch>
